.p-setting {
  justify-content: space-evenly;
  h3 {
    color: $color--ui;
    font-size: $font--list-l;
    text-align: center;
    flex-shrink: 0;
    margin-bottom: $m-base;
  }
  .l-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .l-left {
    height: 70%;
    .l-area {
      height: 45%;
      display: flex;
      flex-direction: column;
      .l-wrapper {
        height: 90%;
        @include rounded-container-info;
      }
    }
  }
  .l-alarm-setting {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .c-setting__input {
      width: 40%;
      font-size: $font--list-l;
      color: $color--ui;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &.checked {
        .c-setting__check {
          background-color: $color--ui;
        }
      }
    }
    input[type="radio"] {
      display: none;
    }
    .c-setting__check {
      width: $font--list-s;
      height: $font--list-s;
      border: $border-width solid $color--ui;
      border-radius: $radius--border;
      margin-right: $m-base;
      cursor: pointer;
    }
  }
  .l-right {
    height: 80%;
    .l-wrapper {
      height: 90%;
      @include rounded-container-info;
    }
  }
  .l-ringtone-list {
    .list__item {
      background-color: $color--success;
      color: $color--ui;
      font-size: $font--list-s;
      line-height: $font--warning;
      text-align: center;
      height: $font--warning;
      border-radius: $radius--list-item;
      margin: $m-s $m-s  $m-s;
      overflow: hidden;
      white-space: nowrap;
      cursor: pointer;
      display: flex;
      align-items: center;
      position: relative;

      &.active {
        background-color: $color--danger;
      }
      span {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateY(-50%) translateX(-50%);
      }
    }
    .item__btn {
      background-color: transparent;
      border: none;
      min-height: 24px;
      min-width: 24px;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 10px;
      margin-left: 10px;
    }
  }
  .l-duration-setting {
    display: flex;
    justify-content: space-around;
    
    h4 {
      color: $color--ui;
      text-align: center;
      font-size: $font--list-m;
    }
    .c-duration__text {
      width: 40%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    span {
      width: 90%;
      background-color: transparent;
      border: none;
      caret-color: #fff;
      text-align: center;
      font-size: 100px;
      &:focus {
        outline: none;
      }
    }
    .s--work {
      span {
        color: $color--notice;
      }
    }
    .s--rest {
      span {
        color: $color--danger;
      }
    }
  }
  

}