// color
$color--danger: #D3312D;
$color--success: #6D94BB;
$color--info: #707070;
$color--base: #212325;
$color--ui: #fff;
$color--notice: #23C48E;

// font
$font-family: 'Microsoft JhengHei', 'Roboto Mono', monospace;
$font--base: 400;
$font--semi-bold: 600;
$font--bold: 700;

// font-size
$font--title: 120px;
$font--list-l: 40px;
$font--list-m: 36px;
$font--list-s: 24px;
$font--warning: 60px;

// border
$border-width: 3px;

//border radius
$radius--list-item: 12px;
$radius--border: 8px;

// margin, padding
$m-base: 20px;
$m-s: 10px;